@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentListViewModel

@using Telerik.Sitefinity.Frontend.Events.Mvc.Helpers
@using Telerik.Sitefinity.Frontend.Mvc.Helpers
@using Telerik.Sitefinity.Modules.Pages
@using Telerik.Sitefinity.Web.DataResolving
@using DevMagazine.Core.Mvc.Helpers;

@Html.Script(ScriptRef.JQuery, "top", false)

<section class="@Model.CssClass section section--border">
        <ul id="events-container" class="list-unstyled">
            @foreach (var item in Model.Items)
            {
                var navigateUrl = HyperLinkHelpers.GetDetailPageUrl(item, ViewBag.DetailsPageId, ViewBag.OpenInSamePage, Model.UrlKeyPrefix);

                <li class="u-pt3" @Html.InlineEditingAttributes(Model.ProviderName, Model.ContentType.FullName, (Guid)item.Fields.Id)>
                    <h3>
                        <a @Html.InlineEditingFieldAttributes("Title", "ShortText") href="@navigateUrl">@item.Fields.Title</a>
                    </h3>
                    <p class="text-muted">
                        @*@If is on the same line, because otherwise there is an empty space before the comma*@
                        <time>@item.EventDates()</time>@if (!string.IsNullOrEmpty(item.Fields.City)){<span>, <br> @item.Fields.City</span>}@if (!string.IsNullOrEmpty(item.Fields.State)){<span>, @item.Fields.State</span>}
    					@if (!string.IsNullOrEmpty(item.Fields.Country)){<span>, @item.Fields.Country</span>}
                    </p>
                    <p @Html.InlineEditingFieldAttributes("Summary", "LongText")>@Html.Raw(item.Fields.Summary)</p>
                    <div class="hidden sf-Comment-count--block">@Html.CommentsCount((string)navigateUrl, item.DataItem)</div>
                </li>
            }
        </ul>

    	<div class="row text-center u-mt4 @Html.RenderTextIfTrue("hidden", (Model.CurrentPage >= Model.TotalPagesCount))" id="paging-wrapper" >
    		<a id="showMoreEvents" href="#" data-page="@Model.CurrentPage" data-url="@Html.GetCurrentNodeUrl()">
    			<span class="glyphicon glyphicon-chevron-down glyph-bordered"></span><br />
    			Load more events
    		</a>
    		<div id="endless-paging" style="margin-top: 10px; display: none;">
    			<img src="/ajax-loader.gif" height="24" width="24" alt="Ajax Loader">
    		</div>
    	</div>
</section>
<hr class="u-mt4 u-mb4">
