@model News.Mvc.Models.INewsModel

@using Telerik.Sitefinity.DynamicModules.Model;
@using Telerik.Sitefinity.Libraries.Model;
@using Telerik.Sitefinity.Model;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using DevMagazine.Core.Mvc.Helpers;
@using SitefinityWebApp.Mvc.HtmlHelpers;
@using DevMagazine.Authors.Mvc.ViewModels;

@Html.Script(Telerik.Sitefinity.Modules.Pages.ScriptRef.JQuery)

@{
    var author = AuthorViewModel.GetAuthorViewModel(((DynamicContent)Model.DetailItem.GetValue("ArticleAuthor")), Model.DetailItem);
}

<section class="section section--border">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <div class="col-md-8 col-md-offset-2">
                    <h4>
                        @Html.RenderPageTagLink(Model.DetailItem, Url)
                    </h4>
                    <h1>@Model.DetailItem.Title</h1>
                    <p>
                        by <a href="@Html.GetItemDefaultUrl(AuthorViewModel.AuthorType, author.ProviderName, author.Id)">@author.Name</a> on @Model.DetailItem.PublicationDate.ToString("MMMM dd, yyyy") 
                        @Html.RenderRelatedIssueItem(Model.DetailItem)
                    </p>
                </div>
                <div class="col-md-8 col-md-offset-2">
                    <hr />
                    @Html.RenderImage(Model.DetailItem.GetValue<Image>("Image"), "", "198", "780")
                </div>
            </div>
            <div class="col-md-8 col-md-offset-2">
                @Html.Raw(Model.DetailItem.Content)
            </div>
        </div>
        @Html.Partial("_AuthorResume", author)
    </div>
</section>