@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentDetailsViewModel

@using Telerik.Sitefinity;
@using Telerik.Sitefinity.DynamicModules.Model;
@using Telerik.Sitefinity.Libraries.Model;
@using Telerik.Sitefinity.Model;
@using Telerik.Sitefinity.News.Model;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Web.DataResolving;
@using DevMagazine.Core.Mvc.Helpers;
@using SitefinityWebApp.Mvc.HtmlHelpers;
@using SitefinityWebApp.Mvc.ViewModels;

@Html.Script(Telerik.Sitefinity.Modules.Pages.ScriptRef.JQuery)

@{
    var author = AuthorViewModel.GetAuthorViewModel(Model.Item.RelatedItem("ArticleAuthor").GetDataItem<DynamicContent>(), Model.Item.GetDataItem<NewsItem>());
}

<div class="text-center">
    <h4>
        @Html.RenderPageTagLink(Model.Item.GetDataItem<NewsItem>(), Url)
    </h4>
    <h1>@Model.Item.Fields.Title</h1>
    <p>
        by <a href="@Html.GetItemDefaultUrl(AuthorViewModel.AuthorType, author.ProviderName, author.Id)">@author.Name</a> on @Model.Item.GetDateTime("PublicationDate", "MMMM dd, yyyy")
        @Html.RenderRelatedIssueItem(Model.Item.GetDataItem<NewsItem>())
    </p>

    @if (Model.EnableSocialSharing)
    {
        @Html.SocialShareOptions()
    }
</div>
<div>
    <hr />
    @if (Model.Item.RelatedItem("Image") !=null)
    {
        Html.RenderImage(Model.Item.RelatedItem("Image").GetDataItem<Image>(), "", "198", "780");
    }
</div>
<div>
    @Html.Raw(Model.Item.Fields.Content)
</div>
    @Html.Partial("_AuthorResume", author)
