@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentListViewModel

@using System.Linq;
@using Telerik.Sitefinity;
@using Telerik.Sitefinity.DynamicModules.Model;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Model;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.News.Model;
@using Telerik.Sitefinity.Libraries.Model;
@using Telerik.Sitefinity.Web.DataResolving;
@using DevMagazine.Core.Mvc.Helpers;
@using SitefinityWebApp.Mvc.HtmlHelpers;
@using SitefinityWebApp.Mvc.ViewModels;

@{
    var item = Model.Items.First();
    var authorViewModel = AuthorViewModel.GetAuthorViewModel(
        item.RelatedItem("ArticleAuthor").GetDataItem<DynamicContent>(), item.GetDataItem<NewsItem>());
}

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <a href="@item.DefaultUrl">
                    @Html.RenderImage(item.RelatedItem("Image").GetDataItem<Image>(), "", "354", "650")
                </a>
            </div>
            <div class="col-md-5">
                <h4>Featured</h4>
                <h1><a href="@item.DefaultUrl">@item.Fields.Title</a></h1>
                @Html.Partial("_FeaturedArticle.Author", authorViewModel)

            </div>
        </div>
    </div>
</section>