﻿@model Telerik.Sitefinity.Frontend.News.Mvc.Models.INewsModel

@using System.Linq;
@using Telerik.Sitefinity.Libraries.Model;
@using Telerik.Sitefinity.Model;
@using DevMagazine.Core.Mvc.Helpers;
@using DevMagazine.Authors.Mvc.ViewModels;

@{
    var newsItem = Model.Items.First();
    var authorViewModel = AuthorViewModel.GetAuthorViewModel(
        ((Telerik.Sitefinity.DynamicModules.Model.DynamicContent)newsItem
        .GetValue<Telerik.Sitefinity.DynamicModules.Model.DynamicContent>("ArticleAuthor")), newsItem);
}

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <a href="@Html.GetItemDefaultUrl(newsItem)">
                    @Html.RenderImage(newsItem.GetValue<Image>("Image"), "", "354", "650")
                </a>
            </div>
            <div class="col-md-5">
                <h4>Featured</h4>
                <h1><a href="@Html.GetItemDefaultUrl(newsItem)">@newsItem.Title</a></h1>
                @Html.Partial("_FeaturedArticle.Author", authorViewModel)

            </div>
        </div>
    </div>
</section>