@model PrecompiledViewsCrawler.Models.CrawlResultViewModel

<div>
    <hr />
    <h3>@Model.StartTime</h3>
    @foreach(var item in Model.CrawlItems)
    {
        <div class="row">
            <div class="col-md-4">@item.Url</div>
            <div class="col-md-4">@item.ViewPath</div>
            <div class="col-md-4">@(item.IsPrecompiled ? "Yes" : "No")</div>
        </div>
    }
    <h3>@Model.EndTime</h3>
    <hr />
</div>
