@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentDetailsViewModel

@using Telerik.Sitefinity.Libraries.Model;
@using Telerik.Sitefinity.DynamicModules.Model;
@using Telerik.Sitefinity.RelatedData;
@using Telerik.Sitefinity.Model;
@using DevMagazine.Core.Mvc.Helpers;
@using Telerik.Sitefinity.News.Model;
@using SitefinityWebApp.Mvc.ViewModels;

@using SitefinityWebApp.Mvc.HtmlHelpers;
@using Telerik.Sitefinity.Web.DataResolving;

@{
    var item = Model.Item;
    var featuredArticle = Model.Item.RelatedItem("FeaturedArticle");
    var author = featuredArticle.RelatedItem("ArticleAuthor");
}

<div class="Main-content">
    <div class="section">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h4>@item.Fields.IssueNumber</h4>
                    <h1>@item.Fields.Title</h1>
                </div>
            </div>

            @{
                var cover = item.RelatedItem("IssueCover").GetDataItem<Image>();
                var defaultArticleImagePath = @"/images/default-source/issue-covers/sampleimage3.png";
                var document = item.RelatedItem("IssueDocument").GetDataItem<Document>();
            }

            <div class="Issue-cover">
                @Html.RenderImage(cover, "", "400", "428")
            </div>

            <a href="/get-whitepaper/?issue=@item.DataItem.Id" class="Btn Btn--download-issue-2">Download</a>
        </div>
    </div>

    <section class="Section">

        <div class="container">

            <div class="row">
                <div class="col-md-8">
                    <a href="@Html.GetItemDefaultUrl(featuredArticle.DataItem)">
                        @if (featuredArticle.RelatedItem("Image") != null){
                            @Html.RenderImage(featuredArticle.RelatedItem("Image").GetDataItem<Image>(), "", "198", "780");
                        } else {
                          <img src="@defaultArticleImagePath" alt="article-image" />
                        }
                    </a>
                </div>
                <div class="col-md-4">
                    <h4>Featured</h4>
                    <h2><a href="@Html.GetItemDefaultUrl(featuredArticle.DataItem)">@featuredArticle.Fields.Title</a></h2>
                    <p>@Html.Raw(featuredArticle.Fields.Summary)</p>
                    <a href="@Html.GetItemDefaultUrl(featuredArticle.DataItem)">Read more</a>
                    @Html.Partial("_FeaturedArticle.Author", AuthorViewModel.GetAuthorViewModel(author.GetDataItem<DynamicContent>()))
                </div>
            </div>
        </div>
    </section>
    <section>

        <div class="container">

            <h4>Issue articles</h4>
            <hr>
            @Html.Partial("_RecentByTopic.Author", item.RelatedItems("Articles").AsNewsItems().ToList())
        </div>
    </section>
</div>
