@model Telerik.Sitefinity.DynamicModules.Model.DynamicContent

@using Telerik.Sitefinity.Libraries.Model;
@using Telerik.Sitefinity.RelatedData;
@using Telerik.Sitefinity.Model;
@using DevMagazine.Core.Mvc.Helpers;

<div class="col-md-4">
    <div class="media">
        @{
            var cover = Model.GetRelatedItems<Image>("IssueCover").FirstOrDefault();
        }
        <a class="pull-left" href="@Html.GetRelativeUrl(Model.ItemDefaultUrl)">
            <img class="media-object" src="@cover.MediaUrl" alt="@cover.AlternativeText" height="240" width="180">
        </a>
        <div class="media-body">
            <h6 class="text-muted">@Model.GetString("IssueNumber")</h6>
            <h5 class="media-heading"><a href="@Html.GetRelativeUrl(Model.UrlName)">@Model.GetString("Title")</a></h5>
        </div>
    </div>
</div>