@using Telerik.Sitefinity.News.Model;
@using Telerik.Sitefinity.RelatedData;
@using Telerik.Sitefinity.Model;
@using Telerik.Sitefinity.Libraries.Model;
@using Telerik.Sitefinity.Utilities.TypeConverters;
@using DevMagazine.Core.Mvc.Helpers;

@{
    var issue = SitefinityWebApp.Mvc.Helpers.IssueHelper.GetLatestIssue();

    var articles = issue.GetRelatedItems<NewsItem>("Articles");

    var first5articles = articles.OrderByDescending(x => x.DateCreated).Take(5);
    var second5articles = articles.OrderByDescending(x => x.DateCreated).Skip(5).Take(5);
}
<div class="container">
    <!--  Default 8+4 Feather widget -->
    <h1 class="text-center">Issues</h1>

    <h4>Latest issue</h4>
    <hr>

    <div class="row">
        <div class="col-md-5 text-center">
            @{ 
                var cover = issue.GetRelatedItems<Image>("IssueCover").FirstOrDefault();
                var document = issue.GetRelatedItems<Document>("IssueDocument").FirstOrDefault();
                var issueType = TypeResolutionService.ResolveType("Telerik.Sitefinity.DynamicTypes.Model.Issues.Issue");
            }
            @Html.RenderImage(cover, "image-issue", "463", "380")
            <a class="Btn Btn--download-issue" href="/get-whitepaper/?issue=@issue.Id">Download</a>
        </div>

        <div class="col-md-7">
            <h4>@issue.GetString("IssueNumber")</h4>
            <h2><a href="@Html.GetItemDefaultUrl(issueType, issue.Provider.ToString(), issue.Id)">@issue.GetString("Title")</a></h2>
            <p>@Html.Raw(issue.GetString("Description"))</p>
            <h5>Featured issue articles</h5>
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-unstyled">
                        @foreach (var article in first5articles)
                        {
                            <li><a href="@Html.GetItemDefaultUrl(article)">@article.Title</a></li>
                        }
                    </ul>
                    <a href="@Html.GetItemDefaultUrl(issueType, issue.Provider.ToString(), issue.Id)"><span class="glyphicon glyphicon-chevron-right glyph-bordered"></span>All articles</a>
                </div>
                <div class="col-md-6">
                   <ul class="list-unstyled">
                    @foreach (var article in second5articles)
                    {
                        <li><a href="@Html.GetItemDefaultUrl(article)">@article.Title</a></li>
                    }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
