@model DynamicContent.Mvc.Models.DynamicContentListViewModel

    @try 
    {
            <section class="section section--gray">
                @Html.Partial("List.LatestIssueRight", (DynamicContent.Mvc.Models.DynamicContentListViewModel)Model)
            </section>

            <section class="section section--border">
                <div class="container">
                    <h4>Archive</h4>
                    <hr>
                    <div id="issues-list">
                        <div class="row">
                            @foreach (var issue in Model.Items.Skip(1).Take(3))
                            {
                                @Html.Partial("IssueElement", (Telerik.Sitefinity.DynamicModules.Model.DynamicContent)issue)
                            }
                        </div>
                        <div class="row">
                            @foreach (var issue in Model.Items.Skip(4).Take(3))
                            {
                                @Html.Partial("IssueElement", (Telerik.Sitefinity.DynamicModules.Model.DynamicContent)issue)
                            }
                        </div>

                       @Html.Partial("EndlessPager", (DynamicContent.Mvc.Models.DynamicContentListViewModel)Model)
                    </div>
                </div>
            </section>
    }
    catch (Exception ex)
    {
        <p>@ex.Message;</p>
    }
