@model IList<DevMagazine.Authors.Mvc.ViewModels.AuthorViewModel>

@using DevMagazine.Core.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

@Html.Script(Telerik.Sitefinity.Modules.Pages.ScriptRef.JQuery)

<h2>Authors</h2>
<div class="row">
    @foreach (var item in Model)
    {
        using (Html.InlineEditingRegion(item.ProviderName, item.AuthorType, item.Id))
        {
            <div class="col-md-2">
                <div class="text-center">
                    <a href="@item.UrlName">
                        @Html.RenderImage(item.Avatar, "img-circle", "128", "128")
                    </a>
                    <h3><a href='@item.UrlName'>@item.Name</a></h3>
                    <p>@item.JobTitle</p>
                </div>
            </div>
        }
    }
</div>