@model SitefinityWebApp.Mvc.ViewModels.AuthorViewModel

@using DevMagazine.Core.Mvc.Helpers;
@using SitefinityWebApp.Mvc.ViewModels;

@{
    var authorLast5Articles = Model.RelatedArticles.OrderByDescending(x => x.DateCreated).Take(5);
}

<div class="row">
    <hr />
    <div class="media Author Author--big">

        <a class="pull-left" href="@Html.GetItemDefaultUrl(AuthorViewModel.AuthorType, Model.ProviderName, Model.Id)">
            @Html.RenderImage(Model.Avatar, "media-object img-circle", "128", "128")
        </a>
        <div class="media-body">
            <h3 class="media-heading"><a href="@Html.GetItemDefaultUrl(AuthorViewModel.AuthorType, Model.ProviderName, Model.Id)">@Model.Name</a></h3>
            <p class="text-muted">@Model.JobTitle</p>
            <p>@Html.Raw(Model.Bio)</p>
            <h5>More from @Model.Name</h5>

            @Html.Partial("~/Mvc/Views/Shared/_ListArticles.cshtml", authorLast5Articles)
            <a href="@Html.GetItemDefaultUrl(AuthorViewModel.AuthorType, Model.ProviderName, Model.Id)"><span class="glyphicon glyphicon-chevron-right glyph-bordered"></span>All articles</a>
        </div>
    </div>
</div>