@model SitefinityWebApp.Mvc.ViewModels.AuthorViewModel

@using SitefinityWebApp.Mvc.ViewModels;
@using DevMagazine.Core.Mvc.Helpers;

<div class="media Author--small">
    <a class="pull-left" href="@Html.GetItemDefaultUrl(Model.Author)">
        <img src="@Model.Avatar.ImageUrl" class="media-object img-circle" width="40" height="40"/>        
    </a>
    <div class="media-body">
        <h6 class="media-heading"><a href="@Html.GetItemDefaultUrl(AuthorViewModel.AuthorType, Model.ProviderName, Model.Id)">@Model.Name</a></h6>
    </div>
    <span class="date-created">on @Model.DetailedArticle.PublicationDate.ToString("MMMM dd, yyyy")</span>
</div>