@model SitefinityWebApp.Mvc.ViewModels.IssueViewModel

@{
    var issue = Model;
}

@using DevMagazine.Core.Mvc.Helpers;
@using SitefinityWebApp.Mvc.Helpers;
@using SitefinityWebApp.Mvc.ViewModels;

<div class="row">
    <div class="col-md-7">
        <h4>@issue.Number</h4>
        <h2><a href="@Html.GetItemDefaultUrl(IssueViewModel.IssueType, issue.ProviderName, issue.Id)">@issue.Title</a></h2>
        <p>@Html.Raw(issue.Description)</p>
        <h5>Featured issue articles</h5>
        <div class="row">
            <div class="col-md-6">
                <ul class="list-unstyled">
                    @foreach (var article in issue.Articles.Take(5))
                    {
                        <li><a href="@Html.GetItemDefaultUrl(article)">@article.Title</a></li>
                    }
                </ul>
                <a href="@Html.GetItemDefaultUrl(IssueViewModel.IssueType, issue.ProviderName, issue.Id)"><span class="glyphicon glyphicon-chevron-right glyph-bordered"></span>All articles</a>
            </div>

            <div class="col-md-6">
                <ul class="list-unstyled">
                    @foreach (var article in issue.Articles.Skip(5).Take(5))
                    {
                        <li><a href="@Html.GetItemDefaultUrl(article)">@article.Title</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-5 text-center">
        @Html.RenderImage(issue.Cover, "image-issue", "482", "379")
        <a class="Btn Btn--download-issue" href="/get-whitepaper/?issue=@issue.Id">Download</a>
    </div>
</div>
