@model Telerik.Sitefinity.Frontend.DynamicContent.Mvc.Models.DynamicContentListViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.RelatedData;
@using Telerik.Sitefinity.Modules.Libraries;
@using System.Linq;


@Html.Script(Telerik.Sitefinity.Modules.Pages.ScriptRef.JQuery)

<h2>Authors</h2>
<div class="row">
    @foreach (var item in Model.Items)
    { 
        using (Html.InlineEditingRegion(Model.ProviderName, Model.ContentType.FullName, (Guid)item.Fields.Id))
        {
            <div class="col-md-2">
                <div class="text-center">
                    @{string detailsPageUrl = ViewBag.OpenInSamePage ?
                          (ViewBag.CurrentPageUrl + item.Fields.ItemDefaultUrl) :
                          (HyperLinkHelpers.GetDetailPageUrl(item.DataItem, ViewBag.DetailsPageId));}

                    <a href="@detailsPageUrl">
                        <img src='@MediaContentExtensions.ResolveThumbnailUrl(item.Fields.Avatar.DataItem, "v230-230", true)'
                                    class="img-circle"
                                    width='128'
                                    height='128'/>

                    </a>
                    <h3><a href='@detailsPageUrl'>@item.Fields.Name</a></h3>

                    <p>@item.Fields.JobTitle</p>
                </div>
            </div>
        }
    }
</div>